ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-content: center;
  gap: 1rem;
}
.pokeCard {
  background: #F5F4F4;
  box-sizing: border-box;
  padding: 14px 8px 8px 12px;
  max-height: 150px;
  max-width: 230px;
  border-radius: 10px;
}

.pokeCard > header {
  display: flex;
  justify-content: space-between;
}

.pokeCard > header > h3 {
  align-items: top;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  letter-spacing: .8px;
  font-size: 1rem;
  font-weight: 800;
}
