ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-content: center;
  gap: 1rem;
}
.pokeCard {
  background: #F5F4F4;
  box-sizing: border-box;
  padding: 14px 8px 8px 12px;
  max-height: 180px;
  max-width: 250px;
  border-radius: 10px;
}

.pokeCard > header {
  display: flex;
  justify-content: space-between;
}

.pokeCard > header > h3 {
  align-items: top;
}

.typesContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.typesContainer > span {
  background: #ffffff40;
  color: #3D3D38;
  width: 80px;
  text-align: center;
  padding: .2rem .5rem;
  border-radius: 50px;
}

.pokeCard > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 1.5rem;
  color: #fff;
}

h3 {
  letter-spacing: .8px;
  color: #3D3D38;
  opacity: .5;
  font-size: 1rem;
  font-weight: 800;
}

.grass {
  background: #87C753
}

.fire {
  background: #EB7471;
}

.water {
  background: #8AC5F8
}

.bug {
  background: #70ccb0
}

.flying {
  background: #7DD3FC;
}

.normal {
  background: #D4D4D4;
}

.poison {
  background: #B84FB9;
}

.electric {
  background: #FFCF4A;
}

.ground {
  background: #E1C169;
}

.fighting {
  background: #C03038;
}

.psychic {
  background: #F85888;
}

.ghost {
  background: #B84FB9;
}

.dragon {
  background: #7138F8;
}

.ice {
  background: #7DD3FC;
}

.rock {
  background: #E1C169;
}

.fairy {
  background: #FAD9E6;
}